---

const menu = {
    href: [
        "/",
        "#services",
        "#contact",
    ],
    text: [
        "Inicio",
        "Servicios",
        "Contacto",
    ],
};

// TAILWIND STYLES
const navStyles = "text-red-900 drop-shadow-md text-lg font-bold uppercase";
const ulStyles = "bg-white flex flex-row rounded-md p-4";
const liStyles = "mx-2 relative group";
const aStyles = "hover:text-red-950";
const underlineStyles = "block h-0.5 bg-transparent transition-all duration-300 group-hover:bg-red-950 group-hover:w-full absolute bottom-0 left-0 w-0";
// END TAILWIND STYLES
---

<nav class={navStyles}>
    <ul class={ulStyles}>
        {menu.text.map((txt, index) => (
            <li class={liStyles}>
                <a class={aStyles} href={menu.href[index]}>{txt}</a>
                <span class={underlineStyles}></span>
            </li>
        ))}
    </ul>
</nav>