---
const services = [
    {
        title: "Social",
        description:
            "Organizamos todo tipo de eventos sociales, desde cumpleaños y aniversarios hasta reuniones familiares, garantizando momentos únicos y especiales que perdurarán en la memoria de tus invitados.",
    },
    {
        title: "Artístico",
        description:
            "Diseñamos y ejecutamos eventos artísticos que destacan por su creatividad y profesionalismo.",
    },
    {
        title: "Cultural",
        description:
            "Fomentamos la diversidad y la riqueza cultural a través de eventos en festivales, ferias y eventos temáticos que celebran nuestras tradiciones y costumbres.",
    },
    {
        title: "Wedding Planner",
        description:
            "Nos encargamos de cada detalle de tu boda, desde la planificación inicial hasta el último momento. Con amor y dedicación, hacemos realidad la boda de tus sueños, creando un día perfecto y sin preocupaciones para que puedas disfrutar de un evento inolvidable.",
    },
    {
        title: "Organización de eventos",
        description:
            "Ofrecemos servicios integrales para la organización de eventos sociales, institucionales, artísticos y culturales, adaptándonos a las necesidades específicas de cada cliente y evento.",
    },
    {
        title: "Catering",
        description:
            "Proveemos servicios de catering con menús personalizados que deleitarán a tus invitados. Utilizamos ingredientes frescos y de la mejor calidad para asegurar una experiencia culinaria inolvidable.",
    },
    {
        title: "Sesiones de Video y Fotografía",
        description:
            "Capturamos los momentos más importantes de tu evento con sesiones de video y fotografía profesional. Aseguramos recuerdos duraderos con la más alta calidad visual, creando imágenes y videos que serán atesorados por siempre.",
    },
    {
        title: "Audio e Iluminación",
        description:
            "Ofrecemos servicios de audio e iluminación de vanguardia para crear la atmósfera perfecta en tus eventos, garantizando una experiencia sensorial inolvidable.",
    },
    {
        title: "Banquetes",
        description:
            "Creamos banquetes personalizados que se adaptan a tus gustos y necesidades, con una presentación impecable y sabores que encantarán a todos tus invitados.",
    },
    {
        title: "Academia de danza y espectáculos",
        description:
            "Ofrecemos formación en danza y organizamos espectáculos escénicos de alta calidad, presentando actuaciones que maravillan y entretienen a todo tipo de audiencias, destacando por su profesionalismo y pasión.",
    },
    {
        title: "Compañía Folklórica",
        description:
            "Preservamos y promovemos nuestras raíces culturales a través de presentaciones folklóricas auténticas y vibrantes, mostrando la riqueza de nuestras tradiciones a través del baile y la música.",
    },
    // Agrega más servicios si es necesario
];

// Tailwind CSS classes
const sectionStyles = "relative px-6 bg-gray-100 py-24";
const videoStyles = "absolute inset-0 w-full h-full object-cover z-0";
const containerStyles = "relative z-10";
const headingStyles = "text-4xl font-bold text-center text-white mb-6";
const carouselContainerStyles = "relative overflow-hidden";
const carouselStyles = "flex transition-transform duration-300";
const serviceCardStyles = "w-full md:w-1/3 flex-shrink-0 p-4";
const articleStyles = "bg-white p-6 rounded shadow-md";
const titleStyles = "text-red-950 text-xl font-semibold";
const descriptionStyles = "text-emerald-950 mt-2 text-justify";
const buttonStyles = "absolute top-1/2 transform -translate-y-1/2 px-4 h-full";
const prevButtonStyles = "left-0";
const nextButtonStyles = "right-0";
const iconButtonStyles = "w-6 h-6 text-gray-400";
---

<section id="services" class={sectionStyles}>
    <video
        autoplay
        loop
        muted
        playsinline
        class={videoStyles}
    >
        <source src="https://assets.mixkit.co/videos/4151/4151-720.mp4" type="video/mp4" />
        Your browser does not support the video tag.
    </video>
    <div class={containerStyles}>
        <h2 class={headingStyles}>
            Servicios
        </h2>
        <div class={carouselContainerStyles}>
            <div id="carousel" class={carouselStyles}>
                {
                    services.map((service) => (
                        <div class={serviceCardStyles}>
                            <article class={articleStyles}>
                                <h3 class={titleStyles}>
                                    {service.title}
                                </h3>
                                <p class={descriptionStyles}>{service.description}</p>
                            </article>
                        </div>
                    ))
                }
            </div>
            <button
                id="prev"
                class={`${buttonStyles} ${prevButtonStyles}`}
                >
                <svg class={iconButtonStyles} aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7"/>
                  </svg>                  
                </button
            >
            <button
                id="next"
                class={`${buttonStyles} ${nextButtonStyles}`}
                >
                <svg class={iconButtonStyles} aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
                  </svg>                  
                </button
            >
        </div>
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const carousel = document.getElementById("carousel");
        const prevButton = document.getElementById("prev");
        const nextButton = document.getElementById("next");

        let currentIndex = 0;

        const updateCarousel = () => {
            const itemWidth = carousel.children[0].offsetWidth;
            carousel.style.transform = `translateX(-${currentIndex * itemWidth}px)`;
        };

        prevButton.addEventListener("click", () => {
            if (currentIndex > 0) {
                currentIndex -= 1;
            } else {
                currentIndex = carousel.children.length - 1;
            }
            updateCarousel();
        });

        nextButton.addEventListener("click", () => {
            if (currentIndex < carousel.children.length - 1) {
                currentIndex += 1;
            } else {
                currentIndex = 0;
            }
            updateCarousel();
        });

        // Ensure the carousel is properly positioned on resize
        window.addEventListener("resize", updateCarousel);
    });
</script>
